<a href="https://colab.research.google.com/github/remotionis/DE6/blob/main/2%EC%9D%BC%EC%B0%A8_SQL_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

주피터 SQL 엔진 설정

2023년 4월에 Google Colab의 SQLAlchemy 버전이 2.0.10으로 업그레이드되면서 이게 다른 모듈들과 충돌을 내기 시작했습니다. 이 문제 때문에 1.4.47로 다운그레이드하고 Google Colab Runtime을 재시작해주어야 합니다. 2023년 10월에 Google Colab 버전이 또 바뀌면서 다른 문제가 생겨서 ipython-sql 버전도 바꾸어야 합니다.

재설치가 끝나면 하단에 Restart runtime 버튼이 나올텐데 그걸 클릭하고 뒤부터 이어서 실행해주면 됩니다.

In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

다양한 SELECT 실행해보기

In [ ]:
%%sql

SELECT *
FROM raw_data.user_session_channel;

In [ ]:
%%sql

SELECT userId, sessionId, channel
FROM raw_data.user_session_channel;

In [ ]:
%%sql

SELECT *
FROM raw_data.user_session_channel
LIMIT 10;

In [ ]:
%%sql

SELECT DISTINCT channel                      -- 유일한 채널 이름을 알고 싶은 경우
FROM raw_data.user_session_channel;

In [ ]:
%%sql

SELECT channel, COUNT(1)                    -- 채널별 카운트를 하고 싶은 경우. COUNT 함수!!
FROM raw_data.user_session_channel
GROUP BY 1;

In [ ]:
%%sql

SELECT COUNT(1)                    -- 테이블의 모든 레코드 수 카운트. COUNT(*). 하나의 레코드
FROM raw_data.user_session_channel;

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel = 'Facebook';

In [ ]:
%%sql

SELECT
  channel,
  CASE
    WHEN channel in ('Facebook', 'Instagram') THEN 'Social-Media'
    WHEN channel in ('Google', 'Naver') THEN 'Search-Engine'
    ELSE 'Something-Else'
END channel_type
FROM raw_data.user_session_channel
LIMIT 100;

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel
WHERE channel in ('Google','Facebook');

In [ ]:
%%sql

SELECT DISTINCT channel
FROM raw_data.user_session_channel
WHERE channel ILIKE '%o%';

In [ ]:
%%sql

SELECT
    LEN(channel),
    UPPER(channel),
    LOWER(channel),
    LEFT(channel, 4)
FROM raw_data.user_session_channel
LIMIT 100;

CREATE TABLE raw_data.count_test (
    value int
);

INSERT INTO raw_data.count_test VALUES (NULL), (1), (1), (0), (0), (4), (3);

In [ ]:
%%sql

SELECT
    COUNT(1) count_1,
    COUNT(0) count_0,
    COUNT(NULL) as count_null,
    COUNT(value) count_value,
    COUNT(DISTINCT value) count_distinct_value
FROM raw_data.count_test;

In [ ]:
%%sql

SELECT 0 + NULL, 0 - NULL, 0 * NULL, 0/NULL

In [ ]:
%%sql

SELECT
    GETDATE(),
    CONVERT_TIMEZONE('America/Los_Angeles', GETDATE());

In [ ]:
%%sql

SELECT 1/2, 1/2::float;

판다스와 연동하는 방법

In [ ]:
result = %sql SELECT * FROM raw_data.user_session_channel
df = result.DataFrame()

In [ ]:
df.head()

In [ ]:
df.groupby(["channel"]).size()

In [ ]:
df.groupby(["channel"])["sessionid"].count()