<a href="https://colab.research.google.com/github/remotionis/DE6/blob/main/6-1_Redshift_copy_practice_result.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.47
!pip install psycopg2

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.11/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.2.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.11/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.47) (3.2.1)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)

In [2]:
%load_ext sql

ID와 PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [3]:
%sql postgresql://admin:Adminuser1@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev

---

### Redshift Schema 설정

In [4]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateSchema) Schema "raw_data" already exists

[SQL: CREATE SCHEMA raw_data;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [5]:
%%sql

select * from pg_namespace;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
14 rows affected.

[('pg_toast', 1, None),
 ('pg_internal', 1, None),
 ('catalog_history', 1, None),
 ('pg_mv', 1, None),
 ('pg_automv', 1, None),
 ('pg_auto_copy', 1, None),
 ('pg_s3', 1, None),
 ('pg_catalog', 1, '{rdsdb=UCDA/rdsdb,=U/rdsdb}'),
 ('public', 1, '{rdsdb=UCDA/rdsdb,=UC/rdsdb}'),
 ('information_schema', 1, '{rdsdb=UCDA/rdsdb,=U/rdsdb}'),
 ('analytics', 100, '{admin=UCDA/admin,"group analytics_authors=UCDA/admin","group analytics_users=U/admin"}'),
 ('adhoc', 100, '{admin=UCDA/admin,"group analytics_authors=UCDA/admin","group analytics_users=UCDA/admin"}'),
 ('raw_data', 100, '{admin=UCDA/admin,"group analytics_authors=U/admin","group analytics_users=U/admin"}'),
 ('pii', 100, '{admin=UCDA/admin,"group pii_users=U/admin"}')]

### Redshift User 설정

In [6]:
%%sql

CREATE USER minju PASSWORD 'Guestuser1';

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateObject) user "minju" already exists

[SQL: CREATE USER minju PASSWORD 'Guestuser1';]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [7]:
%%sql

select * from pg_user;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
4 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('IAM:RootIdentity', 101, True, True, False, '********', None, None),
 ('admin', 100, True, True, False, '********', 'infinity', None),
 ('minju', 102, False, False, False, '********', None, None)]

### Redshift Group 설정

In [8]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateObject) group "analytics_users" already exists

[SQL: CREATE GROUP analytics_users;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [9]:
%%sql

CREATE GROUP analytics_authors;
ALTER GROUP analytics_authors ADD USER minju;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateObject) group "analytics_authors" already exists

[SQL: CREATE GROUP analytics_authors;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [10]:
%%sql

ALTER GROUP analytics_users ADD USER minju;
ALTER GROUP pii_users ADD USER minju;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

### Redshift Role 설정

In [11]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateObject) role "staff" already exists

[SQL: CREATE ROLE staff;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [12]:
%%sql

GRANT ROLE staff TO minju;   -- keeyong 대신에 다른 역할(Role)을 지정 가능
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [13]:
%%sql

 select * from SVV_ROLES;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(106115, 'sys:operator', 'rdsdb', None),
 (106116, 'sys:monitor', 'rdsdb', None),
 (106117, 'sys:dba', 'rdsdb', None),
 (106118, 'sys:secadmin', 'rdsdb', None),
 (106119, 'sys:superuser', 'rdsdb', None),
 (106776, 'staff', 'admin', None),
 (106777, 'manager', 'admin', None),
 (106778, 'external', 'admin', None)]

### COPY 명령으로 테이블 만들기

In [14]:
%%sql

CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) Relation "user_session_channel" already exists

[SQL: CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [15]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.user_session_channel
FROM 's3://minju-copy-test-bucket/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::442897381670:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [16]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(1563, '000cb7efa8a05429dd5309b4bea2eb0c', 'Naver'),
 (1567, '00fc743b385f1c7cbf52cc496fa54907', 'Naver'),
 (891, '01bd1435be431e15ff794c00de827ac2', 'Facebook'),
 (1251, '01c536e431c4f99277130978b38461bf', 'Google'),
 (676, '01c629f6b8f2460aa362f29caaaa0a8e', 'Youtube'),
 (1335, '01f11b1dc7251b4dad589e664e28aaf6', 'Facebook'),
 (1265, '024b2cf9b641eee04adfdd65b47bc2dc', 'Facebook'),
 (682, '030862565f5882a522a10504b2c90dc9', 'Facebook'),
 (2141, '03173127ec596d8e7fc4d8d20ba44aff', 'Google'),
 (899, '032d9c7d8705c3fde20e0df93c132203', 'Instagram')]

In [17]:
%%sql

CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) Relation "session_timestamp" already exists

[SQL: CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [18]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3://minju-copy-test-bucket/test_data/session_timestamp.csv'
credentials 'aws_iam_role=arn:aws:iam::442897381670:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [19]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('faf02b2358de8933f480a146f4d2d98e', datetime.datetime(2019, 5, 3, 18, 24, 42, 890000)),
 ('52bdba949576e6bcec5682a4993bfb58', datetime.datetime(2019, 5, 5, 14, 31, 13, 537000)),
 ('bf1b2f4b901c21a1d8645018ea9aeb05', datetime.datetime(2019, 5, 7, 0, 29, 44, 7000)),
 ('4aadd661908b181d059a117f02fbc9ec', datetime.datetime(2019, 5, 11, 4, 2, 29, 877000)),
 ('89b9e0a6f6d1505fe13dea0f18a2dcfa', datetime.datetime(2019, 5, 17, 16, 17, 7, 383000)),
 ('f5f96025b4aa949ad6d1b20e207c66c9', datetime.datetime(2019, 5, 20, 19, 17, 5, 270000)),
 ('d3a03b46250a3b28b490109cef354b3f', datetime.datetime(2019, 5, 21, 18, 3, 35, 130000)),
 ('689041c2baed0f6d91050495d632d6e0', datetime.datetime(2019, 5, 25, 16, 24, 57, 653000)),
 ('5d44a2b0d85aa1a4dd3f218be6422c66', datetime.datetime(2019, 5, 5, 14, 50, 20, 487000)),
 ('dffbb6efd376d8dbb22cdf491e481edc', datetime.datetime(2019, 5, 6, 16, 6, 43))]

In [20]:
%%sql

CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) Relation "session_transaction" already exists

[SQL: CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [21]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_transaction
FROM 's3://minju-copy-test-bucket/test_data/session_transaction.csv'
credentials 'aws_iam_role=arn:aws:iam::442897381670:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [22]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

### analytics 테스트 테이블 만들기

In [23]:
%%sql

CREATE TABLE analytics.mau_summary AS
SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateTable) relation "mau_summary" already exists

[SQL: CREATE TABLE analytics.mau_summary AS
SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;]
(Background on this error at: https://sqlalche.me/e/14/f405)

### 사용자 그룹 권한 설정하기

#### analytics_authors

In [24]:
%%sql

GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_authors;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_authors;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_authors;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_authors;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### analytics_users

In [25]:
%%sql

GRANT USAGE ON SCHEMA analytics TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_users;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_users;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_users;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_users;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### pii_users

In [26]:
%%sql

GRANT USAGE ON SCHEMA pii TO GROUP pii_users;
GRANT SELECT ON ALL TABLES IN SCHEMA pii TO GROUP pii_users;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

#### keeyong으로 로그인해서 raw_data 테이블을 수정하려 시도해보기

In [27]:
%%sql

ALTER USER minju PASSWORD 'Guestuser1'

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [28]:
%sql postgresql://minju:Guestuser1@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [29]:
%%sql

DELETE FROM raw_data.user_session_channel;

   postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://minju:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.InsufficientPrivilege) permission denied for relation user_session_channel

[SQL: DELETE FROM raw_data.user_session_channel;]
(Background on this error at: https://sqlalche.me/e/14/f405)