<a href="https://colab.research.google.com/github/remotionis/DE6/blob/main/6-2.Redshift_Spectrum_practice_result.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.47
!pip install psycopg2

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.11/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.2.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.11/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.47) (3.2.1)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)

In [2]:
%load_ext sql

In [3]:
%sql postgresql://admin:Adminuser1@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev

---

### Redshift Spectrum 테스트

In [4]:
%sql postgresql://admin:Adminuser1@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [5]:
%%sql

-- AWSGlueConsoleFullAccess
drop schema if exists external_schema drop external database cascade;
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::442897381670:role/redshift.read.s3'
create external database if not exists;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [6]:
%%sql

drop table if exists raw_data.user_property;
CREATE TABLE raw_data.user_property AS
SELECT
  userid,
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [7]:
%%sql

drop table if exists external_schema.user_session_channel;
CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://minju-copy-test-bucket/usc/';

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [8]:
%%sql

select * from external_schema.user_session_channel limit 10;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(None, '"sessionid"', '"channel"'),
 (184, '"c41dd99a69df04044aa4e33ece9c924', '"Naver"'),
 (80, '"fdc0eb412a84fa549afe68373d9087e', '"Organic"'),
 (251, '"0a54b19a13b6712dc04d1b49215423d', '"Facebook"'),
 (264, '"a914ecef9c12ffdb9bede64bb703d87', '"Google"'),
 (744, '"05ae14d7ae387b93370d142d82220f1', '"Facebook"'),
 (229, '"eddeb82df22554fa67c641e3f8a2556', '"Google"'),
 (265, '"4c4ea5258ef3fb3fb1fc48fee9b4408', '"Naver"'),
 (80, '"8ae1da0fe37c98412768453f82490da', '"Organic"'),
 (45, '"60131a2a3f223dc8f4753bcc5771660', '"Youtube"')]

In [9]:
%%sql

SELECT gender, COUNT(1)
FROM external_schema.user_session_channel usc
JOIN raw_data.user_property up ON usc.userid = up.userid
GROUP BY 1;

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
2 rows affected.

[('female', 48495), ('male', 53025)]

In [10]:
%%sql

vacuum full

 * postgresql://admin:***@default-workgroup.442897381670.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]