<a href="https://colab.research.google.com/github/remotionis/DE6/blob/main/7-2_Simple_ETL_modified.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.11/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.2.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.11/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.49) (3.2.2)

In [2]:
%load_ext sql

ID와 PW와 (본인스키마)를 자신의 것으로 변경

In [3]:
%sql postgresql://remotion371:Remotion371!1@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

In [4]:
%%sql

DROP TABLE IF EXISTS remotion371.name_gender;
CREATE TABLE remotion371.name_gender (
   name varchar(32) primary key,
   gender varchar(8)
);

 * postgresql://remotion371:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [5]:
import psycopg2

# Redshift connection 함수
# 본인 ID/PW 사용!
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "remotion371"
    redshift_pass = "Remotion371!1"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

# ETL 함수를 하나씩 정의

In [6]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

In [7]:
def transform(text):
    lines = text.strip().split("\n")[1:]
    records = []
    for l in lines:
      (name, gender) = l.split(",")
      records.append([name, gender])
    return records

In [8]:
def load(records):
    """
    records = [
      [ "Name", "Gender" ]
      [ "Minju", "F" ],
      [ "Claire", "F" ],
      ...
    ]
    """
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    cur = get_Redshift_connection()
    # DELETE FROM을 먼저 수행 -> FULL REFRESH을 하는 형태
    cur.execute("BEGIN")
    try:
      cur.execute("DELETE FROM remotion371.name_gender;")
      for r in records:
          name = r[0]
          gender = r[1]
          print(name, "-", gender)
          sql = f"INSERT INTO remotion371.name_gender VALUES ('{name}', '{gender}')"
          print(sql)
          cur.execute(sql)
      cur.execute("COMMIT")
    except:
      cur.execute("ROLLBACK")

# 이제 Extract부터 함수를 하나씩 실행

In [9]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [10]:
data

'name,gender\nAdaleigh,F\nAmryn,Unisex\nApurva,Unisex\nAryion,M\nAlixia,F\nAlyssarose,F\nArvell,M\nAibel,M\nAtiyyah,F\nAdlie,F\nAnyely,F\nAamoni,F\nAhman,M\nArlane,F\nArmoney,F\nAtzhiry,F\nAntonette,F\nAkeelah,F\nAbdikadir,M\nArinze,M\nArshaun,M\nAlexandro,M\nAyriauna,F\nAqib,M\nAlleya,F\nAavah,F\nAnesti,Unisex\nAdalaide,F\nAnalena,F\nAlaeyah,F\nAlbena,F\nAimi,F\nAdwaith,M\nArkady,M\nAstyn,Unisex\nAdelee,F\nAgata,F\nAlegna,F\nAltan,M\nAhnaleigh,F\nAlgie,Unisex\nAshanti,F\nAislyn,F\nAdaleine,F\nAnthnoy,M\nAlgernon,M\nAeryona,F\nAdrinne,F\nAddell,F\nAvril,F\nAhni,F\nAimon,M\nAdolpho,M\nAhuva,F\nAurielle,F\nAveana,F\nAliyia,F\nAlesander,M\nAdnrea,F\nAnjae,F\nAlvine,F\nAdorah,F\nAdlemi,F\nAlesi,F\nAlontae,M\nAntonny,M\nAdarah,F\nAyreanna,F\nAntyon,M\nAndia,F\nAshla,F\nAspyn,F\nAntwanett,F\nAundreia,F\nAudella,F\nAmari,Unisex\nArsha,Unisex\nAricella,F\nAdan,M\nApasra,F\nAlaysha,F\nAnderson,M\nAurelius,M\nAerial,F\nAverleigh,F\nAslean,F\nArniesha,F\nAsyana,F\nAnnjane,F\nAmabella,F\nAustinjohn,M\nArloween,F\nAlula,M\nAnemone,F\nAmorina,F\nAnureet,F\nArric,M\nAntonne,M\nAlyre,M\nAnnaise,F\n'

In [11]:
lines = transform(data)

In [12]:
len(lines)

100

In [13]:
lines

[['Adaleigh', 'F'],
 ['Amryn', 'Unisex'],
 ['Apurva', 'Unisex'],
 ['Aryion', 'M'],
 ['Alixia', 'F'],
 ['Alyssarose', 'F'],
 ['Arvell', 'M'],
 ['Aibel', 'M'],
 ['Atiyyah', 'F'],
 ['Adlie', 'F'],
 ['Anyely', 'F'],
 ['Aamoni', 'F'],
 ['Ahman', 'M'],
 ['Arlane', 'F'],
 ['Armoney', 'F'],
 ['Atzhiry', 'F'],
 ['Antonette', 'F'],
 ['Akeelah', 'F'],
 ['Abdikadir', 'M'],
 ['Arinze', 'M'],
 ['Arshaun', 'M'],
 ['Alexandro', 'M'],
 ['Ayriauna', 'F'],
 ['Aqib', 'M'],
 ['Alleya', 'F'],
 ['Aavah', 'F'],
 ['Anesti', 'Unisex'],
 ['Adalaide', 'F'],
 ['Analena', 'F'],
 ['Alaeyah', 'F'],
 ['Albena', 'F'],
 ['Aimi', 'F'],
 ['Adwaith', 'M'],
 ['Arkady', 'M'],
 ['Astyn', 'Unisex'],
 ['Adelee', 'F'],
 ['Agata', 'F'],
 ['Alegna', 'F'],
 ['Altan', 'M'],
 ['Ahnaleigh', 'F'],
 ['Algie', 'Unisex'],
 ['Ashanti', 'F'],
 ['Aislyn', 'F'],
 ['Adaleine', 'F'],
 ['Anthnoy', 'M'],
 ['Algernon', 'M'],
 ['Aeryona', 'F'],
 ['Adrinne', 'F'],
 ['Addell', 'F'],
 ['Avril', 'F'],
 ['Ahni', 'F'],
 ['Aimon', 'M'],
 ['Adolpho', 'M'],
 ['Ahuva', 'F'],
 ['Aurielle', 'F'],
 ['Aveana', 'F'],
 ['Aliyia', 'F'],
 ['Alesander', 'M'],
 ['Adnrea', 'F'],
 ['Anjae', 'F'],
 ['Alvine', 'F'],
 ['Adorah', 'F'],
 ['Adlemi', 'F'],
 ['Alesi', 'F'],
 ['Alontae', 'M'],
 ['Antonny', 'M'],
 ['Adarah', 'F'],
 ['Ayreanna', 'F'],
 ['Antyon', 'M'],
 ['Andia', 'F'],
 ['Ashla', 'F'],
 ['Aspyn', 'F'],
 ['Antwanett', 'F'],
 ['Aundreia', 'F'],
 ['Audella', 'F'],
 ['Amari', 'Unisex'],
 ['Arsha', 'Unisex'],
 ['Aricella', 'F'],
 ['Adan', 'M'],
 ['Apasra', 'F'],
 ['Alaysha', 'F'],
 ['Anderson', 'M'],
 ['Aurelius', 'M'],
 ['Aerial', 'F'],
 ['Averleigh', 'F'],
 ['Aslean', 'F'],
 ['Arniesha', 'F'],
 ['Asyana', 'F'],
 ['Annjane', 'F'],
 ['Amabella', 'F'],
 ['Austinjohn', 'M'],
 ['Arloween', 'F'],
 ['Alula', 'M'],
 ['Anemone', 'F'],
 ['Amorina', 'F'],
 ['Anureet', 'F'],
 ['Arric', 'M'],
 ['Antonne', 'M'],
 ['Alyre', 'M'],
 ['Annaise', 'F']]

In [14]:
load(lines)

Adaleigh - F
INSERT INTO remotion371.name_gender VALUES ('Adaleigh', 'F')
Amryn - Unisex
INSERT INTO remotion371.name_gender VALUES ('Amryn', 'Unisex')
Apurva - Unisex
INSERT INTO remotion371.name_gender VALUES ('Apurva', 'Unisex')
Aryion - M
INSERT INTO remotion371.name_gender VALUES ('Aryion', 'M')
Alixia - F
INSERT INTO remotion371.name_gender VALUES ('Alixia', 'F')
Alyssarose - F
INSERT INTO remotion371.name_gender VALUES ('Alyssarose', 'F')
Arvell - M
INSERT INTO remotion371.name_gender VALUES ('Arvell', 'M')
Aibel - M
INSERT INTO remotion371.name_gender VALUES ('Aibel', 'M')
Atiyyah - F
INSERT INTO remotion371.name_gender VALUES ('Atiyyah', 'F')
Adlie - F
INSERT INTO remotion371.name_gender VALUES ('Adlie', 'F')
Anyely - F
INSERT INTO remotion371.name_gender VALUES ('Anyely', 'F')
Aamoni - F
INSERT INTO remotion371.name_gender VALUES ('Aamoni', 'F')
Ahman - M
INSERT INTO remotion371.name_gender VALUES ('Ahman', 'M')
Arlane - F
INSERT INTO remotion371.name_gender VALUES ('Arlane', 'F')
Armoney - F
INSERT INTO remotion371.name_gender VALUES ('Armoney', 'F')
Atzhiry - F
INSERT INTO remotion371.name_gender VALUES ('Atzhiry', 'F')
Antonette - F
INSERT INTO remotion371.name_gender VALUES ('Antonette', 'F')
Akeelah - F
INSERT INTO remotion371.name_gender VALUES ('Akeelah', 'F')
Abdikadir - M
INSERT INTO remotion371.name_gender VALUES ('Abdikadir', 'M')
Arinze - M
INSERT INTO remotion371.name_gender VALUES ('Arinze', 'M')
Arshaun - M
INSERT INTO remotion371.name_gender VALUES ('Arshaun', 'M')
Alexandro - M
INSERT INTO remotion371.name_gender VALUES ('Alexandro', 'M')
Ayriauna - F
INSERT INTO remotion371.name_gender VALUES ('Ayriauna', 'F')
Aqib - M
INSERT INTO remotion371.name_gender VALUES ('Aqib', 'M')
Alleya - F
INSERT INTO remotion371.name_gender VALUES ('Alleya', 'F')
Aavah - F
INSERT INTO remotion371.name_gender VALUES ('Aavah', 'F')
Anesti - Unisex
INSERT INTO remotion371.name_gender VALUES ('Anesti', 'Unisex')
Adalaide - F
INSERT INTO remotion371.name_gender VALUES ('Adalaide', 'F')
Analena - F
INSERT INTO remotion371.name_gender VALUES ('Analena', 'F')
Alaeyah - F
INSERT INTO remotion371.name_gender VALUES ('Alaeyah', 'F')
Albena - F
INSERT INTO remotion371.name_gender VALUES ('Albena', 'F')
Aimi - F
INSERT INTO remotion371.name_gender VALUES ('Aimi', 'F')
Adwaith - M
INSERT INTO remotion371.name_gender VALUES ('Adwaith', 'M')
Arkady - M
INSERT INTO remotion371.name_gender VALUES ('Arkady', 'M')
Astyn - Unisex
INSERT INTO remotion371.name_gender VALUES ('Astyn', 'Unisex')
Adelee - F
INSERT INTO remotion371.name_gender VALUES ('Adelee', 'F')
Agata - F
INSERT INTO remotion371.name_gender VALUES ('Agata', 'F')
Alegna - F
INSERT INTO remotion371.name_gender VALUES ('Alegna', 'F')
Altan - M
INSERT INTO remotion371.name_gender VALUES ('Altan', 'M')
Ahnaleigh - F
INSERT INTO remotion371.name_gender VALUES ('Ahnaleigh', 'F')
Algie - Unisex
INSERT INTO remotion371.name_gender VALUES ('Algie', 'Unisex')
Ashanti - F
INSERT INTO remotion371.name_gender VALUES ('Ashanti', 'F')
Aislyn - F
INSERT INTO remotion371.name_gender VALUES ('Aislyn', 'F')
Adaleine - F
INSERT INTO remotion371.name_gender VALUES ('Adaleine', 'F')
Anthnoy - M
INSERT INTO remotion371.name_gender VALUES ('Anthnoy', 'M')
Algernon - M
INSERT INTO remotion371.name_gender VALUES ('Algernon', 'M')
Aeryona - F
INSERT INTO remotion371.name_gender VALUES ('Aeryona', 'F')
Adrinne - F
INSERT INTO remotion371.name_gender VALUES ('Adrinne', 'F')
Addell - F
INSERT INTO remotion371.name_gender VALUES ('Addell', 'F')
Avril - F
INSERT INTO remotion371.name_gender VALUES ('Avril', 'F')
Ahni - F
INSERT INTO remotion371.name_gender VALUES ('Ahni', 'F')
Aimon - M
INSERT INTO remotion371.name_gender VALUES ('Aimon', 'M')
Adolpho - M
INSERT INTO remotion371.name_gender VALUES ('Adolpho', 'M')
Ahuva - F
INSERT INTO remotion371.name_gender VALUES ('Ahuva', 'F')
Aurielle - F
INSERT INTO remotion371.name_gender VALUES ('Aurielle', 'F')
Aveana - F
INSERT INTO remotion371.name_gender VALUES ('Aveana', 'F')
Aliyia - F
INSERT INTO remotion371.name_gender VALUES ('Aliyia', 'F')
Alesander - M
INSERT INTO remotion371.name_gender VALUES ('Alesander', 'M')
Adnrea - F
INSERT INTO remotion371.name_gender VALUES ('Adnrea', 'F')
Anjae - F
INSERT INTO remotion371.name_gender VALUES ('Anjae', 'F')
Alvine - F
INSERT INTO remotion371.name_gender VALUES ('Alvine', 'F')
Adorah - F
INSERT INTO remotion371.name_gender VALUES ('Adorah', 'F')
Adlemi - F
INSERT INTO remotion371.name_gender VALUES ('Adlemi', 'F')
Alesi - F
INSERT INTO remotion371.name_gender VALUES ('Alesi', 'F')
Alontae - M
INSERT INTO remotion371.name_gender VALUES ('Alontae', 'M')
Antonny - M
INSERT INTO remotion371.name_gender VALUES ('Antonny', 'M')
Adarah - F
INSERT INTO remotion371.name_gender VALUES ('Adarah', 'F')
Ayreanna - F
INSERT INTO remotion371.name_gender VALUES ('Ayreanna', 'F')
Antyon - M
INSERT INTO remotion371.name_gender VALUES ('Antyon', 'M')
Andia - F
INSERT INTO remotion371.name_gender VALUES ('Andia', 'F')
Ashla - F
INSERT INTO remotion371.name_gender VALUES ('Ashla', 'F')
Aspyn - F
INSERT INTO remotion371.name_gender VALUES ('Aspyn', 'F')
Antwanett - F
INSERT INTO remotion371.name_gender VALUES ('Antwanett', 'F')
Aundreia - F
INSERT INTO remotion371.name_gender VALUES ('Aundreia', 'F')
Audella - F
INSERT INTO remotion371.name_gender VALUES ('Audella', 'F')
Amari - Unisex
INSERT INTO remotion371.name_gender VALUES ('Amari', 'Unisex')
Arsha - Unisex
INSERT INTO remotion371.name_gender VALUES ('Arsha', 'Unisex')
Aricella - F
INSERT INTO remotion371.name_gender VALUES ('Aricella', 'F')
Adan - M
INSERT INTO remotion371.name_gender VALUES ('Adan', 'M')
Apasra - F
INSERT INTO remotion371.name_gender VALUES ('Apasra', 'F')
Alaysha - F
INSERT INTO remotion371.name_gender VALUES ('Alaysha', 'F')
Anderson - M
INSERT INTO remotion371.name_gender VALUES ('Anderson', 'M')
Aurelius - M
INSERT INTO remotion371.name_gender VALUES ('Aurelius', 'M')
Aerial - F
INSERT INTO remotion371.name_gender VALUES ('Aerial', 'F')
Averleigh - F
INSERT INTO remotion371.name_gender VALUES ('Averleigh', 'F')
Aslean - F
INSERT INTO remotion371.name_gender VALUES ('Aslean', 'F')
Arniesha - F
INSERT INTO remotion371.name_gender VALUES ('Arniesha', 'F')
Asyana - F
INSERT INTO remotion371.name_gender VALUES ('Asyana', 'F')
Annjane - F
INSERT INTO remotion371.name_gender VALUES ('Annjane', 'F')
Amabella - F
INSERT INTO remotion371.name_gender VALUES ('Amabella', 'F')
Austinjohn - M
INSERT INTO remotion371.name_gender VALUES ('Austinjohn', 'M')
Arloween - F
INSERT INTO remotion371.name_gender VALUES ('Arloween', 'F')
Alula - M
INSERT INTO remotion371.name_gender VALUES ('Alula', 'M')
Anemone - F
INSERT INTO remotion371.name_gender VALUES ('Anemone', 'F')
Amorina - F
INSERT INTO remotion371.name_gender VALUES ('Amorina', 'F')
Anureet - F
INSERT INTO remotion371.name_gender VALUES ('Anureet', 'F')
Arric - M
INSERT INTO remotion371.name_gender VALUES ('Arric', 'M')
Antonne - M
INSERT INTO remotion371.name_gender VALUES ('Antonne', 'M')
Alyre - M
INSERT INTO remotion371.name_gender VALUES ('Alyre', 'M')
Annaise - F
INSERT INTO remotion371.name_gender VALUES ('Annaise', 'F')

In [15]:
%%sql

SELECT COUNT(1)
FROM remotion371.name_gender;

 * postgresql://remotion371:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(100,)]

In [16]:
%%sql

SELECT *
FROM remotion371.name_gender
ORDER BY name;

 * postgresql://remotion371:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
100 rows affected.

[('Aamoni', 'F'),
 ('Aavah', 'F'),
 ('Abdikadir', 'M'),
 ('Adalaide', 'F'),
 ('Adaleigh', 'F'),
 ('Adaleine', 'F'),
 ('Adan', 'M'),
 ('Adarah', 'F'),
 ('Addell', 'F'),
 ('Adelee', 'F'),
 ('Adlemi', 'F'),
 ('Adlie', 'F'),
 ('Adnrea', 'F'),
 ('Adolpho', 'M'),
 ('Adorah', 'F'),
 ('Adrinne', 'F'),
 ('Adwaith', 'M'),
 ('Aerial', 'F'),
 ('Aeryona', 'F'),
 ('Agata', 'F'),
 ('Ahman', 'M'),
 ('Ahnaleigh', 'F'),
 ('Ahni', 'F'),
 ('Ahuva', 'F'),
 ('Aibel', 'M'),
 ('Aimi', 'F'),
 ('Aimon', 'M'),
 ('Aislyn', 'F'),
 ('Akeelah', 'F'),
 ('Alaeyah', 'F'),
 ('Alaysha', 'F'),
 ('Albena', 'F'),
 ('Alegna', 'F'),
 ('Alesander', 'M'),
 ('Alesi', 'F'),
 ('Alexandro', 'M'),
 ('Algernon', 'M'),
 ('Algie', 'Unisex'),
 ('Alixia', 'F'),
 ('Aliyia', 'F'),
 ('Alleya', 'F'),
 ('Alontae', 'M'),
 ('Altan', 'M'),
 ('Alula', 'M'),
 ('Alvine', 'F'),
 ('Alyre', 'M'),
 ('Alyssarose', 'F'),
 ('Amabella', 'F'),
 ('Amari', 'Unisex'),
 ('Amorina', 'F'),
 ('Amryn', 'Unisex'),
 ('Analena', 'F'),
 ('Anderson', 'M'),
 ('Andia', 'F'),
 ('Anemone', 'F'),
 ('Anesti', 'Unisex'),
 ('Anjae', 'F'),
 ('Annaise', 'F'),
 ('Annjane', 'F'),
 ('Anthnoy', 'M'),
 ('Antonette', 'F'),
 ('Antonne', 'M'),
 ('Antonny', 'M'),
 ('Antwanett', 'F'),
 ('Antyon', 'M'),
 ('Anureet', 'F'),
 ('Anyely', 'F'),
 ('Apasra', 'F'),
 ('Apurva', 'Unisex'),
 ('Aqib', 'M'),
 ('Aricella', 'F'),
 ('Arinze', 'M'),
 ('Arkady', 'M'),
 ('Arlane', 'F'),
 ('Arloween', 'F'),
 ('Armoney', 'F'),
 ('Arniesha', 'F'),
 ('Arric', 'M'),
 ('Arsha', 'Unisex'),
 ('Arshaun', 'M'),
 ('Arvell', 'M'),
 ('Aryion', 'M'),
 ('Ashanti', 'F'),
 ('Ashla', 'F'),
 ('Aslean', 'F'),
 ('Aspyn', 'F'),
 ('Astyn', 'Unisex'),
 ('Asyana', 'F'),
 ('Atiyyah', 'F'),
 ('Atzhiry', 'F'),
 ('Audella', 'F'),
 ('Aundreia', 'F'),
 ('Aurelius', 'M'),
 ('Aurielle', 'F'),
 ('Austinjohn', 'M'),
 ('Aveana', 'F'),
 ('Averleigh', 'F'),
 ('Avril', 'F'),
 ('Ayreanna', 'F'),
 ('Ayriauna', 'F')]