<a href="https://colab.research.google.com/github/remotionis/DE6/blob/main/HW_3rd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49
!pip install psycopg2

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.11/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.2.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.19.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.2.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.11/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from SQLAlchemy==1.4.49) (3.2.1)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)

In [2]:
%load_ext sql

In [3]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

---

### **No. 1 |** 채널별 월별 매출액 테이블 만들기  : adhoc 밑에 CTAS로 본인이름을 포함한 테이블로 만들기

In [4]:
%%sql

DROP TABLE IF EXISTS adhoc.minju_session_summary;
CREATE TABLE adhoc.minju_session_summary AS
  SELECT left(st.ts, 7) "month",
    channel,
    count(distinct usc.userid) uniqueUsers,
    count(distinct case when str.amount > 0 then usc.userid end) paidUsers,
    round(paidUsers::float / nullif(uniqueUsers, 0) * 100, 2) conversionRate,
    sum(str.amount) grossRevenue,
    sum(case when str.refunded is False then str.amount end) netRevenue
  FROM raw_data.user_session_channel usc
    left join raw_data.session_timestamp st on usc.sessionid=st.sessionid
    left join raw_data.session_transaction str on usc.sessionid=str.sessionid
  GROUP BY 1, 2
  ORDER BY 1, 2;

select * from adhoc.minju_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
42 rows affected.

[('2019-05', 'Facebook', 247, 14, 5.67, 1199, 997),
 ('2019-05', 'Instagram', 234, 11, 4.7, 959, 770),
 ('2019-05', 'Youtube', 244, 9, 3.69, 529, 529),
 ('2019-07', 'Organic', 557, 22, 3.95, 1600, 1600),
 ('2019-08', 'Facebook', 611, 18, 2.95, 1009, 1009),
 ('2019-08', 'Instagram', 621, 28, 4.51, 2129, 2001),
 ('2019-09', 'Youtube', 588, 15, 2.55, 1301, 1301),
 ('2019-11', 'Facebook', 688, 25, 3.63, 1678, 1678),
 ('2019-11', 'Naver', 667, 26, 3.9, 2234, 1987),
 ('2019-06', 'Facebook', 414, 22, 5.31, 1578, 1578),
 ('2019-06', 'Instagram', 410, 21, 5.12, 1462, 1418),
 ('2019-06', 'Organic', 416, 14, 3.37, 1129, 940),
 ('2019-07', 'Google', 556, 21, 3.78, 1558, 1385),
 ('2019-07', 'Naver', 553, 19, 3.44, 1547, 1547),
 ('2019-08', 'Organic', 608, 26, 4.28, 1643, 1606),
 ('2019-09', 'Google', 599, 25, 4.17, 1872, 1691),
 ('2019-09', 'Naver', 592, 21, 3.55, 1996, 1996),
 ('2019-10', 'Facebook', 698, 29, 4.15, 1650, 1641),
 ('2019-10', 'Instagram', 707, 33, 4.67, 2568, 2395),
 ('2019-10', 'Organic', 709, 31, 4.37, 2762, 2608),
 ('2019-11', 'Organic', 677, 34, 5.02, 2626, 2255),
 ('2019-05', 'Google', 253, 10, 3.95, 580, 580),
 ('2019-05', 'Organic', 238, 17, 7.14, 1846, 1571),
 ('2019-07', 'Facebook', 558, 32, 5.73, 2222, 2144),
 ('2019-07', 'Youtube', 564, 36, 6.38, 2210, 2037),
 ('2019-08', 'Google', 610, 27, 4.43, 2210, 1894),
 ('2019-09', 'Facebook', 597, 27, 4.52, 2270, 2270),
 ('2019-10', 'Youtube', 705, 34, 4.82, 2492, 2319),
 ('2019-11', 'Google', 688, 26, 3.78, 2286, 2235),
 ('2019-05', 'Naver', 237, 11, 4.64, 867, 844),
 ('2019-06', 'Google', 412, 13, 3.16, 947, 947),
 ('2019-06', 'Naver', 398, 15, 3.77, 1090, 1090),
 ('2019-06', 'Youtube', 400, 17, 4.25, 1042, 1042),
 ('2019-07', 'Instagram', 567, 24, 4.23, 1896, 1766),
 ('2019-08', 'Naver', 626, 22, 3.51, 1829, 1551),
 ('2019-08', 'Youtube', 614, 18, 2.93, 987, 950),
 ('2019-09', 'Instagram', 588, 20, 3.4, 1260, 1122),
 ('2019-09', 'Organic', 592, 22, 3.72, 1267, 1267),
 ('2019-10', 'Google', 699, 30, 4.29, 2150, 2098),
 ('2019-10', 'Naver', 713, 32, 4.49, 2695, 2695),
 ('2019-11', 'Instagram', 669, 25, 3.74, 2116, 2116),
 ('2019-11', 'Youtube', 677, 45, 6.65, 3532, 3331)]