<a href="https://colab.research.google.com/github/remotionis/DE6/blob/main/HW_3rd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49
!pip install psycopg2

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

---

### **No. 1 |** 채널별 월별 매출액 테이블 만들기  : adhoc 밑에 CTAS로 본인이름을 포함한 테이블로 만들기

In [ ]:
%%sql

DROP TABLE IF EXISTS adhoc.minju_session_summary;
CREATE TABLE adhoc.minju_session_summary AS
    SELECT
      left(st.ts, 7) as month,
      usc.channel as channel,
      count(distinct usc.userid) as uniqueUsers,
      count(distinct case when str.amount > 0 then usc.userid end) as paidUsers,
      round(paidUsers / nullif(uniqueUsers, 0) * 100, 2) as conversionRate,
      sum(str.amount) as grossRevenue,
      sum(case when str.refunded is not False then str.amount end) as netRevenue
    FROM raw_data.user_session_channel usc
      left join raw_data.session_timestamp st on usc.sessionid=st.sessionid
      left join raw_data.session_transaction str on usc.sessionid=str.sessionid
    GROUP BY 1, 2
    ORDER BY 1, 2;