<a href="https://colab.research.google.com/github/remotionis/DE6/blob/main/HW_4th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49
!pip install psycopg2

In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

---

### **No. 1 |** 사용자별로 처음 채널과 마지막 채널 알아내기

In [ ]:
# 1-1. Row_number
# window function의 경우 where절에서 사용 불가
#  → 필터링이 필요한 경우 seq를 from/with 절에서 미리 만든 후 호출하는 방식으로 가야 함
%%sql

select first.userid, first.channel, last.channel
from (
  SELECT userid, channel, ts, row_number() over(partition by userid order by ts) as seq
  FROM raw_data.user_session_channel usc join raw_data.session_timestamp st on usc.sessionid=st.sessionid
) first
join (
  SELECT userid, channel, ts, row_number() over(partition by userid order by ts desc) as seq
  FROM raw_data.user_session_channel usc join raw_data.session_timestamp st on usc.sessionid=st.sessionid
) last
on first.userid = last.userid and last.seq=1
where first.seq=1;

In [ ]:
# 1-2. First_value/Last_value
%%sql

SELECT userid, FIRST_VALUE(channel) over(partition by userid order by ts
rows between unbounded preceding and unbounded following) as first_channel
FROM raw_data.user_session_channel usc join raw_data.session_timestamp st on usc.sessionid=st.sessionid

In [ ]:
# 1-3. Group by
%%sql

select userid,
  max(case when  then channel) as first_channel,
  max(case when  then channel) as last_channel, ts
from raw_data.user_session_channel usc join raw_data.session_timestamp st on usc.sessionid=st.sessionid
group by 1